body {
  margin: 0;
  background-color: #f0f4f8;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  text-align: center;
  position: relative;
  height: 100%;
  width: 100%;
}

.logo {
  width: 200px;
  animation: bounce 2s infinite;
  margin-top: 100px;
}

footer {
  position: absolute;
  bottom: 30px;
  width: 100%;
}

.slogan {
  font-size: 1.25rem;
  color: #444;
  font-weight: bold;
  margin: 0;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}
